body{
    background-image: url(images/0001.png);
}
table{
    width: 500px;
 }
 input[type=text],
 input[type=password],
 input[type=tel]{
    width: 88%;
    padding: 8px 8px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid rgb(12, 184, 87);
    border-radius: 10px;
 }
 input[type=submit]{
    width: 30%;
    padding: 8px 8px;
    margin: 8px 0px;
    border-radius: 10px;
    background-color: rgb(52, 100, 4);
    color: azure;
 }
 input[type=submit]:hover{
    background-color: rgb(30, 57, 3);
 }